#project_container {
	height: 100%;
	width: 100%;
	padding: 10px;
}

#image_container {
	width: 100%;
	aspect-ratio: 16/9;
	position: relative;
	overflow: "hidden";
	margin-bottom: 15px;
}

#image {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}

#name_link {
	text-decoration: underline;
}
