.main {
	/* Set the minimum height to be the entire page except for the navbar and its margin */
	min-height: calc(100vh - (50px + 20px));

	width: 100%;
	padding-top: 20px;
}

#titles_container {
	margin-bottom: 20px;
}

.title {
	font-size: 3rem;
	line-height: 0.8;
}

#pronouns {
	font-size: 1.5rem;
}

.main p {
	font-size: 1.25rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main p a {
	text-decoration: underline;
}
@media (max-width: 440px) {
	.title {
		font-size: 2.5rem;
	}
}

@media (max-width: 340px) {
	.title {
		font-size: 2.25rem;
	}
}

@media (max-width: 305px) {
	.title {
		font-size: 2rem;
	}
}

#other_info_container {
	margin-top: 15px;
	font-size: 1.25rem;
}

.line_container {
	height: 50px;
	display: flex;
	align-items: center;
}

.line_icon {
	height: 30px;
	width: auto;
	margin-right: 8px;
}
