#navbar_container {
	width: 100%;
	font-size: 1.4rem;
	height: 100%;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;
	padding-left: 10px;
}
#socials {
	height: 100%;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
}

#github_link {
	/* Push github logo down slightly as it renders 7px too high up even when centered */
	margin-top: 7px;
}

#navbar {
	height: 100%;
	width: 60%;
	min-width: 120px;
	max-width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link_container {
	text-decoration: underline;
}

@media (max-width: 550px) {
	#navbar_container {
		font-size: 1.2rem;
	}
}
