.main {
	/* Set the minimum height to be the entire page except for the navbar and its margin */
	min-height: calc(100vh - (50px + 20px));

	width: 100%;
	padding-top: 20px;
}

.title {
	font-size: 3rem;
	margin-bottom: 15px;
}

.main p {
	font-size: 1.25rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media (max-width: 440px) {
	.title {
		font-size: 2.5rem;
		margin-bottom: 15px;
	}
}

@media (max-width: 340px) {
	.title {
		font-size: 2.25rem;
		margin-bottom: 15px;
	}
}

@media (max-width: 305px) {
	.title {
		font-size: 2rem;
		margin-bottom: 15px;
	}
}

.main p a {
	text-decoration: underline;
}

#projects_display {
	display: grid;
	grid-template-columns: repeat(3, 32%);
	grid-column-gap: 1%;
	justify-content: space-between;
	align-content: center;
}

.project_bubble {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media (max-width: 950px) {
	#projects_display {
		grid-template-columns: repeat(2, 50%);
	}
}

@media (max-width: 700px) {
	#projects_display {
		grid-template-columns: repeat(1, 100%);
	}
}

#more_work {
	margin-bottom: 15vh;
}

#more_work a {
	text-decoration: underline;
}
